<nav class="header-nav">
  <ul>
    {% assign main_menu = linklists.breadcrumb.links %}
    {% for link in main_menu %}
      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
  </ul>
</nav>