<div class="page-width">
  {% form 'contact' %}
     <input type="text" name="name" placeholder="Your Name" required>
     <input type="email" name="email" placeholder="Your Email" required>
     <textarea name="message" placeholder="Your Message" required></textarea>
     <button type="submit">Submit</button>
  {% endform %}
</div>

{% schema %}
  {
    "name": "B2B Form",
    "settings": [],
    "presets": [
      {
        "name": "B2B Form"
      }
    ]
  }
{% endschema %}