<div class="page-width p-5 ">
  <div class="card" style="width: 18rem;">
  <img src="https://cdn.shopify.com/s/files/1/0843/6328/0701/files/123.webp?v=1705730032" class="card-img-top" alt="..." width="" height="">
  <div class="card-body">
    <h5 class="card-title">{{ section.settings.title }}</h5>
    <p class="card-text">{{ section.settings.subtitle }}</p>
    <a href="{{ section.settings.btnurl }}" class="btn btn-primary">{{ section.settings.btn }}</a>
  </div>
</div>

</div>




{% schema %}
  {
    "name": "demo 1",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title Here"
      },
      {
        "type": "textarea",
        "id": "subtitle",
        "label": "Sub Title Here"
      },
      {
        "type": "url",
        "id": "btnurl",
        "label": "Button URL"
      },
      {
        "type": "text",
        "id": "btn",
        "label": "Button Label",
        "default": "Read More"
      } 
    ],
    "presets": [
      {
        "name": "demo"
      }
    ]
  }
{% endschema %}