<h1>{{ section.settings.title }} </h1>
<h2>{{ section.settings.subtitle }} </h2>













{% schema %}
  {
    "name": "demo 1",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title Here"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Sub Title Here"
      } 
    ],
    "presets": [
      {
        "name": "demo"
      }
    ]
  }
{% endschema %}