<div class="card" style="width: 18rem;">
  <img src="https://cdn.shopify.com/s/files/1/0843/6328/0701/files/123.webp?v=1705730032" class="card-img-top" alt="..." width="" height="">
  <div class="card-body">
    <h5 class="card-title">{{ section.settings.title }}</h5>
    <p class="card-text">{{ section.settings.subtitle }}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>





{% schema %}
  {
    "name": "demo 1",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title Here"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Sub Title Here"
      } 
    ],
    "presets": [
      {
        "name": "demo"
      }
    ]
  }
{% endschema %}