<div class="page-width">
  {% for block in section.blocks %}
 <h1> {{ block.settings.title }}</h1>
  {{ collection.metafields.custom.sub_collections }}

  {% assign sub_collections = collection.metafields.custom.sub_collections %}
    {% if sub_collections %}
      {% for sub_collection in sub_collections %}
        {{ sub_collection.title }}
      {% endfor %}
    {% endif %}

  {% endfor %}
</div>



{% schema %}
{
  "name": "Top Category",
  "settings": [
    
  ],
  "blocks": [
    {
      "name": "Collection Cetegories",
      "type": "select",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Tab Title"
        }
      ]
    }
  ],
  "presets": [
    {
    "name": "Top Category"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
