<div class="page-width">
  {% for block in section.blocks %}
 <h1> {{ block.settings.title }}</h1>

  {% endfor %}
</div>



{% schema %}
{
  "name": "Top Category",
  "settings": [
    
  ],
  "blocks": [
    {
      "name": "Collection Cetegories",
      "type": "select",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Tab Title"
        }
      ]
    }
  ],
  "presets": [
    {
    "name": "Top Category"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
