<div class="page-width">
  {% for block in section.blocks %}
    <h1>{{ block.settings.title }}</h1>
    <div id="subCollectionsContainer{{ forloop.index }}">
      <!-- Container to display sub-collection titles -->
      {% assign subCollections = block.settings.sub_collections | split: ',' %}
      {% for subCollection in subCollections %}
        <h2>{{ subCollection }}</h2>
      {% endfor %}
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Top Category",
  "settings": [
    
  ],
  "blocks": [
    {
      "name": "Collection Categories",
      "type": "select",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Tab Title"
        },
        {
          "type": "text",
          "id": "sub_collections",
          "label": "Sub Collections (Comma Separated)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Top Category"
    }
  ]
}
{% endschema %}
