{% style %}
    .sales_collections_items img {
      width: 100px;
      height: auto;
      border-radius: 100%;
  }
     .sales_collections_items {
      text-align:center
  }
{% endstyle %}
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="sale" role="tabpanel" aria-labelledby="home-tab">
    <div class="sales_collections">
      <div class="container-fluid">
        <!--
          {% assign beanbag = collection.title %}

          {{ beanbag }}
        -->

        {% assign bean_bags = section.settings['bean-bag'] | split: ',' %}
        {% assign water_bottle = section.settings.water_bottle | split: ',' %}
        {% assign book-stoper = 'Book stoper, Book Stopper' | split: ',' %}
        {% assign laptop_table = 'Laptop Table,Side Table,Table,Laptop Table for Work From Home,Wood End Tables with Aesthetic Prints'
          | split: ','
        %}
        {% assign planters = 'Planters,Big Planter,Small Planter' | split: ',' %}
        {% assign home_decor = 'Home Decor,Wall Art,Lamps,Candle Holder,Book Holder,Book Stopper,Frames,Book Stopper with an Aesthetic Touch'
          | split: ','
        %}
        {% assign kitchen_ware = 'Cutlery,Kitchen Ware,Bar Set,Tray' | split: ',' %}
        {% assign festive_collection = 'Urli,Festive Collection' | split: ',' %}
        {% assign ottoman = 'Ottoman,Pouff Stool,Chair,Oval Bench,Chindi,Dori Stool,Jute Stool,Drum,Plain Stool'
          | split: ','
        %}
        {% assign gifting = 'Gifting' | split: ',' %}

        {% if bean_bags contains collection.title %}
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/all">
                <img
                  alt="Threadvibe Living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/all-collections.png?v=1703833843"
                  width=""
                  height=""
                >
                <p>All Collection</p>
              </a>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/sofa-mudda">
                <img
                  alt="Threadvibe Living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/sofa-mudda-with-bean-bag-6.jpg?v=1703664810"
                  width=""
                  height=""
                >
                <p>Sofa Mudda</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/football-bean-bags">
                <img
                  alt="Threadvibe Living"
                  src="/cdn/shop/files/4_1776d590-a35a-4e76-92f9-53f2f3fd743c_540x.jpg?v=1704976373"
                  width=""
                  height=""
                >
                <p>Football Bean Bags</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/teardrop-bean-bag">
                <img
                  alt="Threadvibe Living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/teardrop-bean-bag-and-stool-yellow-white-3_4875868f-bbd0-46ef-a328-303ad107f189.jpg?v=1705387615"
                  width=""
                  height=""
                >
                <p>Teardrop Bean Bags</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/lounger-bean-bag">
                <img
                  alt="Threadvibe Living"
                  src="/cdn/shop/files/lounger-brown_grande.jpg?v=1704975685"
                  width=""
                  height=""
                >
                <p>Lounger Bean Bags</p>
              </a>
            </div>
          </div>
        {% elsif water_bottle contains collection.title %}
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/all">
                <img
                  alt="Threadvibe Living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/all-collections.png?v=1703833843"
                  width=""
                  height=""
                >
                <p>All Collection</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/copper-bottle-plain">
                <img
                  alt="Threadvibe Living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/blue-bottle-with-glass.jpg?v=1705385428"
                  width=""
                  height=""
                >
                <p>Copper Bottle Plain</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/copper-bottle-printed">
                <img
                  alt="Threadvibe Living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/printed-copper-bottle.jpg?v=1703672882"
                  width=""
                  height=""
                >
                <p>Copper Bottle Printed</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/copper-bottle-with-glass">
                <img
                  alt="Threadvibe Living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/hammer-with-glass.jpg?v=1703849918"
                  width=""
                  height=""
                >
                <p>Copper Bottle With Glass</p>
              </a>
            </div>
            <!--
              <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
                <a href="/collections/meenakri">
                  <img alt="Threadvibe Living"
                    src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/meenakari-bottle.jpg?v=1703770049"
                    width=""
                    height=""
                  >
                  <p>Meenakri</p>
                </a>
              </div>
            -->
          </div>
        {% elsif book-stoper contains collection.title %}
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/all">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/all-collections.png?v=1703833843"
                  width=""
                  height=""
                >
                <p>All Collection</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/bean-bag">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/teardrop-bean-bag-and-stool-yellow-white-4.jpg?v=1703746937"
                  width=""
                  height=""
                >
                <p>Book Stopper</p>
              </a>
            </div>
          </div>
        {% elsif laptop_table contains collection.title %}
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/all">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/all-collections.png?v=1703833843"
                  width=""
                  height=""
                >
                <p>All Collection</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/laptop-table">
                <img
                  alt="threadvibe living"
                  src="/cdn/shop/files/table-pink-kitty_grande.jpg?v=1705408130"
                  width=""
                  height=""
                >
                <p>Laptop Tables</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/side-table">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/round-shape-table.jpg"
                  width=""
                  height=""
                >
                <p>Side Tables</p>
              </a>
            </div>
          </div>
        {% elsif planters contains collection.title %}
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/all">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/all-collections.png?v=1703833843"
                  width=""
                  height=""
                >
                <p>All Collection</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/small-planter">
                <img
                  alt="threadvibe living"
                  src="/cdn/shop/files/metal-pots-with-single-golden-stand_65d7d621-db10-41ba-aa9b-6af35fecdbb6.jpg?v=1704285855"
                  width=""
                  height=""
                >
                <p>Small Planter</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/big-planter">
                <img
                  alt="threadvibe living"
                  src="/cdn/shop/files/modern-metal-floor-plant-golden-pots-with-golden-stand-set-of-three_540x.jpg?v=1704282345"
                  width=""
                  height=""
                >
                <p>Big Planter</p>
              </a>
            </div>
          </div>
        {% elsif home_decor contains collection.title %}
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/all">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/all-collections.png?v=1703833843"
                  width=""
                  height=""
                >
                <p>All Collection</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/wall-art">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/golden-butterfly-tree-perfect-for-wall-decor.jpg?v=1706007045"
                  width=""
                  height=""
                >
                <p>Wall Art</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/lamps">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/wooden-crafter-standard-size-tripod-floor-lamp-with-brown-finish-yellow.jpg?v=1704286402"
                  width=""
                  height=""
                >
                <p>Lamps</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/candle-holder">
                <img
                  alt="threadvibe living"
                  src="/cdn/shop/files/handcrafted-wooden-candle-holder-stand-set-of-3-pro-white_180x.jpg?v=1704971598"
                  width=""
                  height=""
                >
                <p>Candle Holder</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/book-holder">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/hourse.jpg?v=1703769887"
                  width=""
                  height=""
                >
                <p>Book Holder</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/frames">
                <img
                  alt="threadvibe living"
                  src="/cdn/shop/files/wooden-hand-carved-photo-frame-for-wall-hanging-and-table-5_540x.jpg?v=1704523340"
                  width=""
                  height=""
                >
                <p>Frames</p>
              </a>
            </div>
          </div>
        {% elsif kitchen_ware contains collection.title %}
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/all">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/all-collections.png?v=1703833843"
                  width=""
                  height=""
                >
                <p>All Collection</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/bar-set">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/bar-set-cutlery.jpg?v=1705319939"
                  width=""
                  height=""
                >
                <p>Bar Set</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/cutlery">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/Cutlery.jpg?v=1703672288"
                  width=""
                  height=""
                >
                <p>Cutlery</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/tray">
                <img
                  alt="threadvibe living"
                  src="/cdn/shop/files/7_grande.jpg?v=1704461956"
                  width=""
                  height=""
                >
                <p>Tray</p>
              </a>
            </div>
          </div>
        {% elsif festive_collection contains collection.title %}
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/all">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/all-collections.png?v=1703833843"
                  width=""
                  height=""
                >
                <p>All Collection</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/urli">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/round-diya-urli-set-of-3.jpg?v=1705488111"
                  width=""
                  height=""
                >
                <p>Urli</p>
              </a>
            </div>
          </div>
        {% elsif ottoman contains collection.title %}
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/all">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/all-collections.png?v=1703833843"
                  width=""
                  height=""
                >
                <p>All Collection</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/pouff-stool">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/pouff-stool-ottoman.jpg?v=1705132806"
                  width=""
                  height=""
                >
                <p>Pouff Stool</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/chair">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/printed-chair.jpg"
                  width=""
                  height=""
                >
                <p>Chair</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/oval-bench">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/oval-bench-grey.jpg?v=1705393445"
                  width=""
                  height=""
                >
                <p>Oval Bench</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/chindi">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/chindi-ottoman.jpg?v=1705131982"
                  width=""
                  height=""
                >
                <p>Chindi</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/dori-stool">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/dori-stool-ottoman.jpg?v=1705131750"
                  width=""
                  height=""
                >
                <p>Dori Stool</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/jute-stool">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/jute-stool-ottoman.jpg?v=1705132307"
                  width=""
                  height=""
                >
                <p>Jute Stool</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/drum">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/round-velvet-drum-ottoman-light-blue.jpg?v=1704279726"
                  width=""
                  height=""
                >
                <p>Drum</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/plain-stool">
                <img
                  alt="threadvibe living"
                  src="/cdn/shop/files/10_grande.jpg?v=1704979101"
                  width=""
                  height=""
                >
                <p>Plain Stool</p>
              </a>
            </div>
          </div>
        {% elsif gifting contains collection.title %}
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/all">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/all-collections.png?v=1703833843"
                  width=""
                  height=""
                >
                <p>All Collection</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/cutlery">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/cake-cutlery-gold.jpg?v=1704276165"
                  width=""
                  height=""
                >
                <p>Cutlery</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/home-decor">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/home-decoration.jpg?v=1703672185"
                  width=""
                  height=""
                >
                <p>Home Decor</p>
              </a>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/copper-bottle">
                <img
                  alt="threadvibe living"
                  src="/cdn/shop/files/blue-bottle-with-glass_360x.jpg?v=1705385428"
                  width=""
                  height=""
                >
                <p>Copper Bottle</p>
              </a>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/laptop-table">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/table.jpg?v=1703673575"
                  width=""
                  height=""
                >
                <p>Laptop Table</p>
              </a>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/planters">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/planters-greenery.jpg?v=1703672059"
                  width=""
                  height=""
                >
                <p>Planters</p>
              </a>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/book-stopper">
                <img
                  alt="threadvibe living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/hourse.jpg?v=1703769887"
                  width=""
                  height=""
                >
                <p>Book Stopper</p>
              </a>
            </div>
          </div>
        {% else %}
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/bean-bag">
                <img
                  alt="Threadvibe Living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/teardrop-bean-bag-and-stool-yellow-white-4_9e773607-5fb0-4dc4-b6b4-f3f5d584f480.jpg?v=1705387610"
                  width=""
                  height=""
                >
                <p>Bean Bags</p>
              </a>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/copper-bottle">
                <img
                  alt="Threadvibe Living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/printed-copper-bottle.jpg?v=1703672882"
                  width=""
                  height=""
                >
                <p>Copper Bottle</p>
              </a>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/table">
                <img
                  alt="Threadvibe Living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/table.jpg?v=1703673575"
                  width=""
                  height=""
                >
                <p>Table</p>
              </a>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/planters">
                <img
                  alt="Threadvibe Living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/planters-greenery.jpg?v=1703672059"
                  width=""
                  height=""
                >
                <p>Planters</p>
              </a>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/home-decor">
                <img
                  alt="Threadvibe Living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/home-decoration.jpg?v=1703672185"
                  width=""
                  height=""
                >
                <p>Home Decor</p>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/kitchen-ware">
                <img
                  alt="Threadvibe Living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/Cutlery.jpg?v=1703672288"
                  width=""
                  height=""
                >
                <p>Kitchen Ware</p>
              </a>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/festive-collection">
                <img
                  alt="Threadvibe Living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/festive-collection.jpg?v=1704178934"
                  width=""
                  height=""
                >
                <p>Festive Collection</p>
              </a>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/ottoman">
                <img
                  alt="Threadvibe Living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/ottoman.jpg?v=1703672133"
                  width=""
                  height=""
                >
                <p>Ottoman</p>
              </a>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-3 col-4 sales_collections_items">
              <a href="/collections/gifting">
                <img
                  alt="Threadvibe Living"
                  src="https://cdn.shopify.com/s/files/1/0748/3375/6465/files/gifting.jpg?v=1703682829"
                  width=""
                  height=""
                >
                <p>Gifting</p>
              </a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Top Category",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Tab Title"
    },
    {
      "type": "text",
      "id": "bean-bag",
      "label": "Bean Bag"
    },
    {
      "type": "text",
      "id": "water_bottle",
      "label": "Bottles"
    }
  ],
  "presets": [
    {
    "name": "Top Category"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
