.header .link{
    font-size: 20px !important;
}
.utility-bar.utility-bar--bottom-border {
    background: #293953;
}
p.announcement-bar__message.h5 {
    color: #fff;
}
.title {
    font-size: 42px;
    color: #51ade0;
    font-weight: bold;
}
.card__heading a {
    font-size: 20px;
  color: #05386b;
}
.card__information {
    padding: 20px !important;
}
.coll-items a {
    text-decoration: none;
}
.coll-items h2 {
    margin: 10px 0;
}
.button {
    background: #03baff;
}
.forms h2 {
    font-size: 41px;
}
.forms label {
    font-size: 21px;
    color: #293953;
}
.form-control {
    height: 53px;
    font-size: 19px  !important;
    padding: 0 20px;
}
.form-control:placeholder {
    color: #959595;
    font-size: 19px;
  
}
button {
    background: #51ade0 !important;
    font-size: 20px !important;
    padding: 10px 35px !important;
    margin: 20px 0;
    border: 1px solid #51ade0 !important;
}