.header .link{
    font-size: 20px !important;
}
.utility-bar.utility-bar--bottom-border {
    background: #293953;
}
p.announcement-bar__message.h5 {
    color: #fff;
}
.title {
    font-size: 42px;
    color: #51ade0;
    font-weight: bold;
}
.card__heading a {
    font-size: 20px;
  color: #05386b;
}
.card__information {
    padding: 20px !important;
}
.coll-items a {
    text-decoration: none;
}
.coll-items h2 {
    margin: 10px 0;
}
.button {
    background: #03baff;
}